* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  background-color: rgb(64, 64, 64);
  padding: 30px;
  min-height: 250px;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

#email {
  margin-bottom: 20px;
}

#success,
#failed {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

#success {
  color: lightgreen;
}

#failed {
  color: lightcoral;
}
